<%
const iconMaskPath = withBasePath('/icons/fav.svg');
%>
<nav
  class="px-4 py-4 bg-transparent flex gap-4 h-24 w-full items-center lg:px-16"
>
  <a class="flex gap-2 h-8 items-center lg:gap-6 text-decoration-none" href="<%= withBasePath('/') %>">
    <div
      data-hk="000000010000000011"
      class="color-light-primary h-8 w-8 dark:color-dark-primary"
    >
      <span
        role="img"
        aria-label="AuthBridge Logo"
        class="block h-full w-full"
        style="-webkit-mask: url('<%= iconMaskPath %>') center / contain no-repeat; mask: url('<%= iconMaskPath %>') center / contain no-repeat; background-color: currentColor;"
      ></span>
    </div>
    <span class="line-height-snug font-serif m-0 flex flex-col">
      <span
        class="text-lg color-light-primary font-bold dark:color-dark-primary"
        >AuthBridge</span>
      <span class="text-sm color-light-tertiary dark:color-dark-tertiary"
        >认证代理</span>
    </span>
  </a>
  <div class="flex-grow-1"></div>

  <!-- 首页链接 -->
  <a
    href="<%= withBasePath('/') %>"
    class="font-serif font-size-xl <%= isHomePage ? 'text-light-primary dark:text-dark-primary font-bold' : 'text-light-onSurface dark:text-dark-onSurface font-medium' %>"
  >
    首页
  </a>

  <!-- 关于链接 -->
  <a
    href="<%= withBasePath('/about') %>"
    class="font-serif font-size-xl ml-4 <%= isAboutPage ? 'text-light-primary dark:text-dark-primary font-bold' : 'text-light-onSurface dark:text-dark-onSurface font-medium' %>"
  >
    关于
  </a>
</nav>
